/* body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#navbar-fixed {
    overflow: hidden;
    position: fixed;
} */

.burger {
    z-index: 999;
    position: relative;
    display: block;
    width: 23px;
    margin: 0px 30px 0px 25px;
    cursor: pointer;
    height: 25px;
}


.burger span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
    background-color: #5d5d5d;
    left: 0;
    transform: rotate(0deg);
    transition: .20s ease-in-out;
}

.burger:hover span:nth-of-type(1) {
    top: -3px;
    transition: .20s ease-in-out;
}

.burger:hover span:nth-of-type(3) {
    top: 19px;
    transition: .20s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0;
    transition: .50s;
}

.burger span:nth-of-type(2) {
    top: 8px;
    transition: .50s;
}

.burger span:nth-of-type(3) {
    top: 16px;
    transition: .50s;
}

.burger.open span:nth-of-type(1) {
    top: 8px;
    transform: rotate(135deg);
    transition: .50s;
}

.burger.open span:nth-of-type(2) {
    top: 8px;
    opacity: 0;
    left: -30px;
    transition: .50s;
}

.burger.open span:nth-of-type(3) {
    top: 8px;
    transform: rotate(-135deg);
    transition: .50s;
}
