.wrapper {
    margin-top: 66px;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-bottom: 80px;
}

.wrapper #sidebar {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 20;
    left: 0;
    overflow-y: auto;
    min-width: 250px;
    max-width: 250px;
    background: #2C3E50;
    color: #fff;
    transition: all 0.3s;
}

.wrapper #content {
    padding-left: 250px;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
    transition: all 0.3s;
}

#content.active {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    transition: all 0.3s;
}

.wrapper #sidebar .sidebar-header {
    padding: 20px;
    background: #2d4255;
}


#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



#sidebar ul.components {
    padding: 15px 0px 80px 0px;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #ddd;
    background: #16A085;
}

#sidebar ul li.active>a,
#siddebar a[aria-expanded="true"] {
    color: #fff;
    background: #2C3E50;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2C3E50;
}

#sidebar .sidebar-brand {
    font-weight: 600;
    font-size: 1.15rem;
    padding: 1.15rem 1.5rem;
    display: block;
    color: #f8f9fa;
}


/* .wrapper #content {
    overflow: hidden;
} */

@media(max-width:768px) {
    .wrapper {
        background-color: white;
        margin-top: 66px;
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding-bottom: 80px;
    }

    .wrapper .active {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .wrapper #content {
        padding-left: 0px;
        padding-right: 0px;
        transition: all 0.3s;
    }

    .wrapper #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0px;
    }

    #content.active {
        padding-left: 250px;
        transition: all 0.3s;
    }
}
