    html {
        scroll-behavior: smooth;
    }

    body {
        overflow: hidden;
        /* background-color: #f3f3f3; */
        background-image: url(../../img/background1.png);
        background-position: bottom;
        background-attachment: fixed;
        background-repeat: repeat-x;
    }
